/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

a{
    color: inherit;
    text-decoration: none;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  padding: 0vw 5vw;
  background-color: aliceblue;
  margin: 0;
}

/* Nav Bar */
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

nav ul{
    right: 0;
    display: flex;
    gap: 10vw;
    justify-content: space-between;
}

/* Section Box CSS Style */
.section_box{
border-radius: 10px;
padding: 1vw 3vw;
}

/* About Me */
.About-me{
    background-color: rgba(93, 195, 243, 0.728);
display: flex;
gap: 10vw;

}

.profile_picture{
    max-width: 20vw;
    border-radius: 50vh;
}

/* Skill */
.skill{
    position: relative;
    top: 10vh;
    display: flex;
    gap: 5vw;
    background-color: rgba(127, 212, 255, 0.868);
}
